   .toast-success {
    background-color: #000 !important;
     color: #fff !important;
   }
  .flatpickr-calendar,.flatpickr-months .flatpickr-month {
    background-color: #000; 
    color: #fff;           
    border: 1px solid #444;
  }

  .flatpickr-calendar .flatpickr-day, span.flatpickr-weekday{
    color: #fff;
  }

  .flatpickr-calendar .flatpickr-day:hover {
    background-color: #444;
  }

  .flatpickr-calendar .flatpickr-day.today {
    border-color: #fff;
  }

  .flatpickr-calendar .flatpickr-months,
  .flatpickr-calendar .flatpickr-weekdays {
    background-color: #111;
    color: #fff;
  }

  .btn-choose-package.active {
    background-color: white !important;
    color: black !important;
    border: 2px solid gold  !important;
  }


  #backToTopBtn {
  display: none;
  position: fixed;
  bottom: 40px;
  right: 40px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #c8b87e ;
  color:#333;
  cursor: pointer;
  padding: 12px 16px;
  border-radius: 50%;
  transition: opacity 0.3s ease;
}

#backToTopBtn:hover {
  background-color:  #c8b87e ;
}