@font-face {
  font-family: geist;
  src: url("../Geist/Geist-VariableFont_wght.ttf") format("truetype");
}

body {
  font-family: geist;
}

a {
  text-decoration: none;
}

ul,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

.bg-main {
  background-color: #070707;
}

.bg-d-gray {
  background-color: #3a3c39;
}

.text-gold {
  color: #c8b87e;
  font-weight: 700;
}
#backToTopBtn {
  display: none;
  position: fixed;
  bottom: 40px;
  right: 40px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #333;
  color: #c8b87e;
  cursor: pointer;
  padding: 12px 16px;
  border-radius: 50%;
  transition: opacity 0.3s ease;
}

#backToTopBtn:hover {
  background-color: #555;
}
.hero {
  position: relative;
  height: 85dvh;
  width: 100%;
  overflow: hidden;

  video {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

}

.hero-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-block: 2rem;
  background-image: url(../images/blurhero.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 70vh;
}

.text-hero {
  color: #fff;
  text-align: center;

  @media screen and (min-width: 768px) {
    h1 {
      font-size: 3rem !important;
    }
  }
}

.service-card {
  position: relative;
  overflow: hidden;
  border-radius: 30px;
  width: 100%;
  height: 433px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .info-service {
    position: absolute;
    bottom: 0;
    left: 10%;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 15px 15px 0 0;
    color: #fff;
    text-align: center;
    width: 80%;
    margin-inline: auto;

    .btn-service {
      color: #fff;
      border: 1px solid #fff;
      font-weight: 100;
      border-radius: 15px;
      margin-top: 1rem;
      width: 90%;
    }
  }
}

.owl-carousel {
  .owl-dots {
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;

    .owl-dot {
      background-color: #3a3c39;
      width: 20px;
      height: 5px;
      border-radius: 5px;

      &.active {
        background-color: #fff;
        width: 40px;
        height: 5px;
        border-radius: 5px;
      }

      &:hover {
        background-color: #fff;
      }
    }
  }
}

.porto-section {
  position: relative;
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  overflow: hidden;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
  }

  .porto-summry {
    * {
      z-index: 10;
    }
  }

  .porto-card {
    position: relative;
    overflow: hidden;
    border-radius: 30px;
    height: 334px;
    width: 100%;

    .porto-img {
      width: 100%;
      height: 100%;
      position: relative;
      opacity: 0.9;
    }

    .porto-title {
      position: absolute;
      bottom: 10%;
      left: 10%;
      color: #fff;
    }
  }
}

.bindery-card {
  position: relative;
  overflow: hidden;
  border-radius: 30px;
  height: 307px;
  width: 100%;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .info-bindery {
    position: absolute;
    bottom: 0;
    left: 10%;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 15px 15px 0 0;
    color: #fff;
    text-align: center;
    width: 80%;
    margin-inline: auto;

    span {
      font-size: 14px;
    }

    .btn-bindery {
      color: #fff;
      border: 1px solid #fff;
      font-weight: 100;
      border-radius: 15px;
      margin-top: 1rem;
      width: 90%;
    }
  }
}

.contact-box {
  position: absolute;
  top: 15%;
  border-radius: 20px;
  background-color: #070707;
  opacity: 0.9;
  display: flex;
  flex-direction: column;

  i {
    color: #c1b585;
    font-size: x-large;
  }
}

[dir="ltr"] .contact-box {
  left: 0;
}

[dir="rtl"] .contact-box {
  right: 0;
}

.followus-section {
  background-color: #3a3c39;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .terms-text {
    padding-inline: 5px;
    color: #c1b585;
    font-size: 16px;
  }

  .brands-icon {
    display: flex;
    gap: 20px;
    color: #a7a8a7;

    i {
      font-size: 24px;
    }

    i:hover {
      color: #c1b585;
    }
  }
}

.contact-us-form {
  border: 1px solid #ffffff8a;
  border-radius: 30px;
  padding: 20px;

  input,
  select {
    background-color: #070707;
    border-radius: 10px;
    padding-block: 8px;
    color: #dcdcdc;

    &:focus {
      background-color: #070707;
      color: #dcdcdc;
    }
  }

  input,
  textarea {
    border: 1px solid #ffffff8a;

    &::placeholder {
      color: #ffffff8a;
    }
  }
}

.box-input {
  position: relative;
  margin-bottom: 8px;

  label {
    color: rgb(108, 117, 125);
    margin-inline-start: 2px;
    margin-bottom: 2px;
  }

  input,
  select {
    background-color: #070707;
    border-radius: 10px;
    padding-block: 8px;
    color: #dcdcdc;

    &:focus {
      background-color: #070707;
      color: #dcdcdc;
    }
  }

  .input-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    color: #dcdcdc;
  }
}

.profile-menu {
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 15px;

  li {
    color: #dcdcdc;
    display: flex;
    align-items: center;
    gap: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);

    i {
      text-align: center;
    }

    &:last-child {
      border-bottom: none;
    }
  }

  .active {
    color: #c8b87e;
    font-weight: 700;
  }
}

.table-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 20px;
  color: #fff;
  font-weight: 300;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.table-profile {
  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  color: #fff;

  .table {
    border-color: rgba(255, 255, 255, 0.1);
    color: #fff;
  }

  .table th {
    font-weight: lighter;
    border-bottom-color: rgba(255, 255, 255, 0.1);
    padding: 12px 16px;
    color: #fff;
    background-color: #070707;
    font-size: 14px;
  }

  .table td {
    padding: 16px;
    border-bottom-color: rgba(255, 255, 255, 0.1);
    color: #fff;
    font-size: 16px;
    background-color: #070707;
  }
}

.main-content {
  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  height: 100%;
}

.meeting-details-list .label {
  font-weight: lighter;
}

.small {
  color: #fff;
  font-size: 80%;
}

#loginModal {
  background-color: #0000009c;

  .modal-dialog {
    .modal-content {
      background-color: #ffffff00 !important;

      .modal-header {
        border-bottom: none;
        color: #fff;
        flex-direction: column;
        padding: 0px;
      }
    }
  }
}

#registerModal {
  background-color: #0000009c;

  .modal-dialog {
    .modal-content {
      background-color: #ffffff00 !important;

      .modal-header {
        border-bottom: none;
        color: #fff;
        flex-direction: column;
        padding: 0px;
      }
    }
  }
}

#calendarModalToggle {
  background-color: #0000009c;

  .modal-dialog {
    .modal-content {
      border-radius: 20px;
      background-color: #000;
      border: 1px solid #3a3c39;

      .modal-header {
        color: #fff;
        border-color: #3a3c39;
      }
    }
  }
}

.packages-section {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 20px;
  height: 70vh;

  .package-card {
    background: #000;
    color: #fff;
    border-radius: 20px;
    border: 1px solid #3a3c39;
    display: flex;
    flex-direction: column;
    padding: 0px;
    height: 100%;

    .header-card {
      padding: 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    p {
      padding: 10px;
      font-weight: 300;
    }

    >* {
      border-bottom: 1px solid #3a3c39;
    }

    button {
      border-radius: 20px;
      border: 1px solid #3a3c39;
      margin: 20px;
      margin-bottom: 25px;
      color: #fff;
      margin-top: auto;

    }
  }
}

.form-packages-section {
  display: grid;
  grid-template-columns: auto auto auto;
  align-items: center;
  gap: 20px;
  background: #070707;
  border: 1px solid #3a3c39;
  border-radius: 20px;

  input,
  select {
    background-color: #070707;
    border-radius: 10px;
    padding-block: 8px;
    color: #dcdcdc;

    &:focus {
      background-color: #070707;
      color: #dcdcdc;
    }
  }

  input,
  textarea {
    border: 1px solid #ffffff8a;

    &::placeholder {
      color: #ffffff8a;
    }
  }

  label {
    color: #fff;
  }
}

.custom-packages-section {
  .package-card {
    background: #000;
    color: #fff;
    border-radius: 20px;
    border: 1px solid #3a3c39;
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 0px;
    overflow: hidden;

    .item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px;

      input[type="checkbox"] {
        accent-color: #3a3c39;
        transform: scale(1.5);

      }

      label {
        font-weight: 200;
      }

      .text-gold {
        span {
          font-size: 12px;
        }
      }
    }

    >* {
      border: 1px solid #3a3c39;
    }


  }
}

.down-package-card {
  background: #070707;
  color: #fff;
  border-radius: 20px;
  border: 1px solid #3a3c39;
  display: flex;
  flex-direction: column;
  padding: 0px;
  height: 100%;
   

  .header-card {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  p {
    padding: 10px;
    font-weight: 300;
  }

  >* {
    border-bottom: 1px solid #3a3c39;
  }

  :last-child {
    border-bottom: none;
  }

  button {
    border-radius: 20px;
    border: 1px solid #3a3c39;
    margin: 20px;
    margin-bottom: 25px;
    color: #fff;
  }
}

.file-upload {
  position: relative;
}

.file-upload-label {
  display: block;
  background-color: transparent;
  border: 1px solid #ffffff8a;
  border-radius: 20px;
  color: #888;
  padding: 12px 15px;
  width: 100%;
  font-size: 14px;
  cursor: pointer;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.file-upload input[type="file"] {
  position: absolute;
  width: 1px;
  height: 1px;
  opacity: 0;
}

.bindery-section {
  .bindery-card {
    width: auto;
  }
}

.timebtn {
  border: 1px solid #fff;
  border-radius: 20px;
  color: #fff;
  font-weight: bold;

  span {
    font-size: 10px;
  }

  &:hover {
    border: 1px solid #fff;

  }

  &.selected {
    background: #fff;
    color: #000;

  }
}

/* Hide all steps by default: */
.tab {
  display: none;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

/* Mark the active step: */
.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #04AA6D;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .respnsive-section {
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    justify-content: center;
    gap: 20px;

    div {
      columns: 1;
    }
  }

  .porto-section {
    height: 100dvs;
  }

  .table-header {
    padding: 10px;
  }

  .profile-menu {
    li {
      border-bottom: none;

      i {
        display: none;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .respnsive-section {
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    gap: 20px;

    div {
      columns: 1;
    }
  }

  .porto-section {
    height: 100vh;
  }
}