@font-face {
  font-family: geist;
  src: url("../Geist/Geist-VariableFont_wght.ttf") format("truetype");
}

body {
  font-family: geist;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

.bg-main {
  background-color: #070707;
}

.bg-d-gray {
  background-color: #3a3c39;
}

.text-gold {
  color: #c8b87e;
  font-weight: 700;
}

.hero {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-block: 2rem;
  z-index: 10;
  background-image: url(../images/blurhero.png);
  background-repeat: no-repeat;
  background-size: contain;
}
.hero-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-block: 2rem;
  background-image: url(../images/blurhero.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 70vh;
}

.text-hero {
  color: #fff;
  text-align: center;

  @media screen and (min-width: 768px) {
    h1 {
      font-size: 3rem !important;
    }
  }
}

.service-card {
  position: relative;
  overflow: hidden;
  border-radius: 30px;

  .info-service {
    position: absolute;
    bottom: 0;
    left: 10%;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 15px 15px 0 0;
    color: #fff;
    text-align: center;
    width: 80%;
    margin-inline: auto;

    .btn-service {
      color: #fff;
      border: 1px solid #fff;
      font-weight: 100;
      border-radius: 15px;
      margin-top: 1rem;
      width: 90%;
    }
  }
}

.owl-carousel {
  .owl-dots {
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;

    .owl-dot {
      background-color: #3a3c39;
      width: 20px;
      height: 5px;
      border-radius: 5px;

      &.active {
        background-color: #fff;
        width: 40px;
        height: 5px;
        border-radius: 5px;
      }

      &:hover {
        background-color: #fff;
      }
    }
  }
}

.porto-section {
  position: relative;
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  overflow: hidden;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
  }
  .porto-summry{
    * {
      z-index: 10;
    }

  }
  .porto-card {
    position: relative;
    overflow: hidden;
    border-radius: 30px;
    height: 100%;
    width: 100;

    .porto-img {
      width: 100%;
      height: 100%;
      position: relative;
      opacity: 0.9;
    }

    .porto-title {
      position: absolute;
      bottom: 10%;
      left: 10%;
      color: #fff;
    }
  }
}

@media screen and (min-width: 321px) and (max-width: 767px) {
  .porto-section {
    height: 100dvs;
  }
}

@media screen and (min-width: 768px) {
  .porto-section {
    height: 100vh;
  }
}
.bindery-card {
  position: relative;
  overflow: hidden;
  border-radius: 30px;
  height:307px ;
  width: 90%;
  .info-bindery {
    position: absolute;
    bottom: 0;
    left: 10%;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 15px 15px 0 0;
    color: #fff;
    text-align: center;
    width: 80%;
    margin-inline: auto;
   span{
      font-size: 14px;
    }
    .btn-bindery {
      color: #fff;
      border: 1px solid #fff;
      font-weight: 100;
      border-radius: 15px;
      margin-top: 1rem;
      width: 90%;
    }
  }
}
.contact-box{
  position: absolute;
  top: 15%;
  border-radius: 20px;
  background-color: #070707;
  opacity: 0.9;
  display: flex;
  flex-direction: column;
  i{
    color: #C1B585;
    font-size: x-large;
  }
}
[dir="ltr"] .contact-box{
left: 0;
}
[dir="rtl"] .contact-box{
right: 0;
}

.followus-section{
  background-color: #3A3C39;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .terms-text{
    padding-inline: 5px;
    color: #C1B585;
    font-size: 16px;
  }
  .brands-icon{
    display: flex;
    gap: 20px;
    color: #a7a8a7;
    i{
     font-size: 24px; 
    }
    i:hover{
      color: #C1B585;
    }

  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
.respnsive-section{
  display: grid;
  grid-template-columns: auto;
  align-items: center;
  justify-content: center;
  gap:20px;
  div{
    columns: 1;
  }
}
}
@media screen and (min-width: 768px) {
.respnsive-section{
  display: grid;
  grid-template-columns: auto auto auto;
  align-items: center;
  gap:20px;

  div{
    columns: 1;
  }
}
}

.contact-us-form{
  border: 1px solid #FFFFFF8A;
  border-radius: 30px;
  padding: 20px;
  input,textarea{
    border: 1px solid #FFFFFF8A;
    &::placeholder{
      color: #FFFFFF8A;
    }
  }
}